.ellipsis {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
}

.topBar {
  height: 5em;
  overflow: auto;
  margin-bottom: 1em;
}

.userAvatar {
  height: 2em;
  margin-right: .5em;
}

.username {
  display: inline-block;
  font-size: 1em;
}