.ellipsis {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 1em;
}

.topBar {
  height: 5em;
  overflow: auto;
}

.userAvatar {
  float: left;
  height: 1em;
  margin: 0em 1em;
}

.usernameContainer {
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  overflow: hidden;
  margin-top: .2em;
}