.CommentsListContainer {
  border: 1px solid black;
  margin: 0 auto;
  overflow: auto;
  padding: 1em;
  width: 35em;
}

.CommentsHeader {
  font-size: 1.5em;
  margin-left: 10em;
}

.CommentsTopBar {
  padding-bottom: 1em;
  border-bottom: 1px solid grey;
}