.Comment {
  padding: 1em 0em;
  position: relative;
}

.linebreak {
  clear: both;
  border-bottom: 1px solid #cccccc;
  margin-left: 3em;
  padding: 0.2em 0em;
}

.heartCommentIcon {
  color: #cccccc;
  margin-left: 33em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.username {
  font-size: 1em;
  font-weight: bold;
  margin-right: 0.5em;
}

.usernameCommentBlock {
   overflow: hidden;
   width: 80%;
}


.userAvatar {
  float: left;
  height: 2em;
  margin: 0em 1em;
}