.bookmarkIcon {
  float: right;
  margin-right: 1em;
}

.ButtonBar {
  height: 5em;
  margin-top: 0.5em;
  overflow: auto;
}

.commentIcon {
  color: black;
  font-size: 20;
  margin: 0 1em;
  text-decoration: none;
}

.likes {
  clear: both;
  margin-left: 1em;
  margin-top: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}